# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Sphinx documentation
docs/_build/


# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Modelflow
graph/

# spyder project 
.spyproject/

*.egg-info/
build/
dist/

# LaTeX temporary files
*.aux
*.log
*.toc
